<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aspectj.profile -->
      <package
            uri="https://megamart2-ecsel.eu/aspectj/"
            class="aspectj.AspectjPackage"
            genModel="profiles/aspectj.profile.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://ASPECTJ_PROFILE/"
            target="platform:/plugin/eu.megamark2.papyrus.profiles.aom/profiles">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://ASPECTJ_PROFILE/aspectj.profile.uml#_Q9-jkLv9EeizS8zZTwzhZg"
            uri="https://megamart2-ecsel.eu/aspectj/">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="UML profile for ASPECTJ"
            iconpath="icons/aspect.png"
            name="AspectJ"
            path="pathmap://ASPECTJ_PROFILE/aspectj.profile.uml"
            provider="MegaM@RT Project">
      </profile>
   </extension>

</plugin>
