<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.moka.service.service">
      <service
            class="eu.megamart2.moka.extensions.services.MokaNodeInformationListener"
            description="MegaMark2 Service">
      </service>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.megamart2.moka.extensions.category.Megamart2"
            name="Megamart2">
      </category>
      <view
            category="eu.megamart2.moka.extensions.category.Megamart2"
            class="eu.megamart2.moka.extensions.ui.MegamartView"
            id="eu.megamart2.moka.extensions.view1"
            name="Moka execution"
            restorable="true">
      </view>
   </extension>

</plugin>
